# Flutter/Dart specific
**/build/
**/ios/Pods/
**/android/build/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# Android specific
**/android/app/debug.keystore
**/android/app/key.properties

# iOS specific
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/
**/ios/Flutter/App.framework/
**/ios/Flutter/Flutter.framework/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh

# Visual Studio Code specific
.vscode/
